/* @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,500&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-nunito;
}

:root {
  --nunito: "Nunito", sans-serif;
  --lato: "Lato", sans-serif;
  --script: "Satisfy", cursive;
  --blue: "#0583d2";
  --gd-overlay: linear-gradient(
    to bottom,
    rgba(15, 19, 21, 0) 0%,
    rgba(15, 19, 21, 1) 100%
  );
  --offwhite: #f8f9fa;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.image {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.6)
    ),
    url("../public/man-standing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.primary-heading {
  @apply text-black;
  @apply font-nunito;
  font-weight: 700;
  font-size: 74px;
  line-height: 125%;
  letter-spacing: 3px;
}
.secondary-heading {
  @apply text-black;
  @apply font-nunito;
  font-weight: 400;
  font-size: 48px;
  line-height: 110%;
}
.tertiary-heading {
  @apply text-black-80;
  @apply font-nunito;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
}
.regular-title {
  @apply font-nunito;
  font-weight: 800;
  line-height: 110%;
  font-size: 24px;
  position: relative;
}

.link-line {
  position: relative;
  margin-bottom: 3rem;
  @apply font-lato;
  font-weight: 600;
  transition: all 0.1s ease;
}

.link-line:hover {
  @apply text-blue;
}

.link-line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  @apply bg-black-25;
  top: 115%;
  left: 0;
  transition: all 0.4s ease;
}

.link-line:hover::after {
  @apply bg-blue;
}

.big-title {
  @apply font-nunito;
  font-weight: 800;
  line-height: 110%;
  font-size: 48px;
  position: relative;
}

.semi__big-title {
  @apply font-nunito;
  font-weight: 800;
  line-height: 110%;
  font-size: 36px;
  position: relative;
  text-align: center;
}

@media only screen and (max-width: 375px) {
  .semi__big-title {
    font-size: 24px;
  }
}

/* .semi__big-title::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 100%;
  left: 0%;
  background-color: black;
} */

.hovereffect {
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in;
  z-index: 10;
  /* color: white; */
  outline: none;
}

.hovereffect::after {
  webkit-transition-duration: 800ms;
  transition-duration: 800ms;
  position: absolute;
  width: 200%;
  height: 200%;
  content: "";
  top: 110%;
  left: 50%;
  @apply bg-blue-dark;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 50%;
  z-index: -1;
  border: none;
  outline: none;
}

.hovereffect:hover::after {
  top: -20%;
}

/* .regular-title::after {
  content: "";
  width: 50%;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 100%;
  left: 0;
} */

.regular-text {
  @apply font-nunito;
  line-height: 150%;
  font-size: 18px;
}

#navbar {
  background-color: var(--offwhite);
}

#navbar.fixed{
  /* background-color: #0583d2; */
}


.navbar.fixed{
  position: fixed;
  background-color: var(--offwhite);
  z-index: 100;
  transition: all 0.4s ease-in-out;
}

.title {
  font-family: var(--nunito);
  font-weight: 900;
  font-size: 2rem;
}

.normal {
  font-family: var(--lato);
  font-size: 1.05rem;
  font-weight: 600;
}

.links {
  font-family: var(--lato);
  font-size: 1.05rem;
  font-weight: 600;
}

.slick-prev {
  left: 16px;
  z-index: 100;
  left: 10px !important;
}

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-next:before {
  content: "→";
  position: absolute;
  right: 35px;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 40px !important;
  /* line-height: 1; */
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  color: white;
  /* background-color: white; */
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots {
  position: absolute;
  bottom: 30px !important;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li button:before {
  font-family: "slick";
  font-size: 20px !important;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.5 !important;
  color: white !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: 0.8 !important;
  color: black;
}

.image-circle {
  width: 140px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;

  /* background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23067FD0FF' stroke-width='3' stroke-dasharray='5%25%2c 8%25' stroke-dashoffset='27' stroke-linecap='round'/%3e%3c/svg%3e");
  border-radius: 100px; */

  padding: 8px;
  transition: transform 0.5s ease;
}

.border {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23067FD0FF' stroke-width='3' stroke-dasharray='5%25%2c 8%25' stroke-dashoffset='27' stroke-linecap='round'/%3e%3c/svg%3e");
  border-radius: 100px;
  transition: all 1s ease;
  cursor: pointer;
}

.image-circle:hover .border {
  transform: rotate(360deg);
  border-radius: 0;
  /* cursor: pointer; */
}

.dis-flex {
  display: flex !important;
  align-items: center;
  justify-content: center;
  /* background-color: black; */
}

.hero-image {
  /* position: relative; */
}

.hero-image::before {
  position: absolute;
  content: "";
  width: 100%;
  display: block;
  height: 70%;
  bottom: 0;
  left: 0;
  background: var(--gd-overlay);
  z-index: 1;
}

.inner__slider-container {
  background-color: rgb(228, 247, 255);
  height: 210px;
}

.inner__slider-container.slick-slide,
.inner__slider-container.slick-active {
  opacity: 0.45;
  -webkit-transition: ease-out all 0.2s;
  transition: ease-out all 0.2s;
}

.dest-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  align-items: center;
  /* justify-items: center; */
}

.dest__card-inner {
  /* max-width: 20rem; */
  height: 25rem;
  /* aspect-ratio: 3/4; */
}

.dest__card-title {
  font-size: 1.1rem;
  font-family: var(--lato);
  font-weight: 600;
  margin-top: 1.25rem;
}

.dest__card-info {
  min-height: 6.25rem;
}

.reco__card-info {
  /* min-height: 8.125rem; */
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reco__card-title {
  font-size: 1.1rem;
  font-family: var(--nunito);
  font-weight: 600;
  /* margin-top: 1.25rem; */
}

.wrapper {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.35);
  position: relative;
}

@media only screen and (max-width: 576px) {
  /* .wrapper{
    background: none;
  } */
}

/* .insights__gallery{
}

.insights__gallery-image{
  position: relative;
  display: flex;
  flex-basis: 230px;
  transition: all 0.4s ease-in;
  z-index: 10;
}

.insights__gallery-image:hover{
  flex-basis: 350px;
}  */

.services {
  display: flex;
  /* border: 2px solid red; */
  justify-content: space-between;
  /* flex-direction: column; */
  gap: 2rem;
  /* align-items: center; */
  /* @apply bg-black-light_gray; */
}

.service__container {
  max-width: 65%;
  /* border: 1px solid tomato; */
}

.service__container-service {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* border: 2px solid green; */
  gap: 1rem;
  margin-top: 2rem;
}

.service__container-service-box {
  /* border: 1px solid orange; */
  display: flex;
  gap: 2rem;
  /* padding: 0.5rem; */
  align-items: center;
  justify-content: center;
}

.service-title > h2 {
  font-family: var(--lato);
}
.service-title > p {
  font-size: 18px;
  margin-top: 1rem;
  line-height: 150%;
  font-family: var(--nunito);
}

.service__container-box-image {
  /* border: 1px solid red; */
  width: 60px;
  height: 60px;
  object-fit: cover;
  object-position: center;
}

.service__container-box-detail {
  max-width: 70%;
}

.service__container-box-detail > p {
  @apply text-black-80;
  font-size: 1rem;
}

.service-icon {
  font-size: 40px;
}

.service__image {
  width: 350px;
  height: 450px;
  position: relative;
  /* object-fit: cover;
  object-position: center;
  border-radius: "50%";
  position: relative; */
  /* border: 2px solid black; */
  border-radius: 5px;
  /* overflow: hidden; */
  z-index: 2;
}

.service__banner {
  content: "";
  width: 320px;
  height: 70px;
  background-color: rgb(239, 3, 3);
  z-index: 20 !important;
  color: white;
  margin-top: 3rem;
  margin-left: -1rem;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  position: relative;
  box-shadow: 5px 8px 18px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 8px 18px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 8px 18px -6px rgba(0, 0, 0, 0.75);
}

.service__banner::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 30px;
  background-color: rgb(210, 5, 5);
  top: 70px;
  border-top-left-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
  z-index: 3;
}

.service__banner::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: rgb(239, 3, 3);
  top: 70px;
  z-index: 1;
}

.service-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: "50%";
  position: relative;
}

/* ================= service media queries ==================== */

@media only screen and (max-width: 728px) {
  .service__image {
    display: none;
  }

  .service__container-service {
    grid-template-columns: repeat(1, 1fr);
  }

  .service__container {
    max-width: 100%;
  }
}

/* ================= service media queries ==================== */

/* --------------------- blog ----------------------- */

.blog {
  /* display: grid;
  grid-template-columns: 3fr 1fr; */
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.blogs-info {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blogs-images {
  /* border: 1px solid red; */
}

.blog_image {
  transition: all 500ms ease-in-out;
  overflow: hidden;
  /* border: 3px solid green; */
  border-radius: 50%;
}

.blog_image img {
  transition: all 0.4s ease;
}

.blog_image img:hover {
  transform: scale(1.05);
}

@media only screen and (max-width: 1025px) {
}

@media only screen and (max-width: 576px) {
  .blog {
    background-color: #f8f8f8;
  }

  .blog {
    flex-direction: column;
  }
}

.newsletter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.newletter__image {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.newsletter__details {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 2px solid rgb(228, 228, 228);
  border-left: none;
  background-color: rgb(250, 250, 250);
}

.news-input {
  position: relative;
  margin-top: 1rem;
}

.news-input input {
  border: 1px solid #0583d2;
}

.news-input__icon {
  position: absolute;
  top: 22px;
  left: 30px;
}
.news-button {
  position: absolute;
  top: 8px;
  right: 8px;
}

@media only screen and (max-width: 1025px) {
  .newsletter {
    grid-template-columns: repeat(1, 1fr);
  }

  .newsletter__details {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-left: 1px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
  }

  .newletter__image {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
  }
}

/* ----------------------- footer ---------------------- */

.footer__cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.col-1 {
  /* border: 2px solid red; */
}

.footer__details {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.icon {
  width: 50px;
  aspect-ratio: 1/1;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

@media only screen and (max-width: 1280px) {
  .footer__cols {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1025px) {
  .footer__cols {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 576px) {
  .footer__cols {
    grid-template-columns: repeat(1, 1fr);
  }
}
