@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-nunito;
}

#navbar {
  /* position: absolute;
    bottom: 90%;
    left: 0;
    transform: translate(10%, 50%);
    z-index: 100; */
}

/* #hero{
    position: relative;
    height: 50vh;
} */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.image {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.6)
    ),
    url('../public/signup.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.primary-heading {
  @apply text-black;
  @apply font-nunito;
  font-weight: 700;
  font-size: 74px;
  line-height: 125%;
  letter-spacing: 3px;
}
.secondary-heading {
  @apply text-black;
  @apply font-nunito;
  font-weight: 400;
  font-size: 48px;
  line-height: 110%;
}
.tertiary-heading {
  @apply text-black-80;
  @apply font-nunito;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
}
