@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  font-weight: 900;
  font-size: 2rem;
}

.activeNav {
  color: #067fd0;
  position: relative;
  font-weight: 600;
}
.activeNav::after {
  content: '';
  position: absolute;
  top: 50%;
  height: 80%;
  width: 6px;
  left: 0;
  transform: translateY(-50%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #067fd0;
}

.table-wrap {
  overflow-x: auto;
}
.table {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}
.table thead {
  background: #067fd0;
  text-align: left;
  color: white;
}
.table thead th {
  padding: 7px 10px;
}
.table tbody tr:nth-child(even) {
  background: rgba(0, 0, 0, 0.03);
}
.table tbody td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  max-width: 200px;
  /* min-width: 120px; */
  word-break: break-all;
}
input[disabled] {
  background: rgba(0, 0, 0, 0.15);
  opacity: 0.8;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
}

.form-group label:before {
  content: '';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #0079bf;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.form-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #0079bf;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

[type='radio']:checked,
[type='radio']:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type='radio']:checked + label,
[type='radio']:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
[type='radio']:checked + label:before,
[type='radio']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
[type='radio']:checked + label:after,
[type='radio']:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #0079bf;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type='radio']:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type='radio']:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.box-shadow {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
